<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div class="container">
		<form th:action="${/form}" th:object="${cliente}" method=post>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-alert"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{apellido}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-alert"
						th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{email}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-alert" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}"></small>
				</div>
			</div>
			<div class="col-sm-6">
				<input type="submit" value="Crear" class="form-control" />

			</div>
		</form>
	</div>

</body>
</html>